<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <span class="title">Contacts</span>
    <div class="pull-right">
      <a class="btn btn-success">New Contact</a>
    </div>
  </div>

  <div class="panel-body">
    <div *ngFor="let section of contactSections" class="contact-section">
      <div class="course-divider">{{ section.title }}</div>
      <div class="list-group">
        <cms-contact-item
          *ngFor="let contact of section.members"
          [contact]="contact"
          (click)="onSelected(contact)"
        ></cms-contact-item>
      </div>
    </div>
  </div>
</div>
